/* ===== STYLE B : Bold Minimal Startup ===== */
/*  ==============SideBar Css Code ================*/
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #020617;
  color: #94a3b8;
  padding: 22px 16px;
  display: flex;
  flex-direction: column;
}

/* Logo */
.sidebar-logo {
  font-size: 1.4rem;
  font-weight: 800;
  color: #38bdf8;
  text-align: left;
  margin-bottom: 28px;
  padding-left: 10px;
}

/* Nav */
.sidebar-nav {
  display: flex;
  flex-direction: column;
}

/* Links */
.nav-link {
  padding: 12px 14px;
  margin-bottom: 6px;
  text-decoration: none;
  color: #94a3b8;
  display: flex;
  align-items: center;
  gap: 10px;
  border-left: 3px solid transparent;
  transition: all 0.2s ease;
}

/* Hover */
.nav-link:hover {
  color: #ffffff;
  background-color: #020617;
}

/* Active */
.nav-link.active {
  color: #ffffff;
  border-left: 3px solid #38bdf8;
  background-color: rgba(56, 189, 248, 0.08);
  font-weight: 600;
}


/* ==========Top NavBar Css Code================= */

/* ===== TOPBAR ===== */

.topbar {
  height: 64px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Dashboard title */
.topbar-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #111827;
}

/* Right side actions */
.topbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* User text */
.user-name {
  font-size: 0.95rem;
  color: #374151;
}

/* Logout button */
.logout-btn {
  background-color: #ef4444;
  color: #ffffff;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.logout-btn:hover {
  background-color: #dc2626;
}

.logout-btn:active {
  transform: scale(0.96);
}
